{% extends "base.html" %}

{% block content %}
<a href="/rule" class="btn btn-success" role="button">Add rule</a>
<table class="table table-striped table-hover table-borderless">
  <thead>
    <tr>
      <th scope="col">Status</th>
      <th scope="col">Source Port</th>
      <th scope="col">Destination IP</th>
      <th scope="col">Destination Port</th>
      <th scope="col">Protocol</th>
      <th scope="col">Comment</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for rule in rules %}
    <tr>
      <td><span class="badge bg-success">Enabled</span></td>
      <td>{{ rule.src_port }}</td>
      <td>{{ rule.dst_ip }}</td>
      <td>{{ rule.dst_port }}</td>
      <td>TCP</td>
      <td>{{ rule.comment }}</td>
      <td>
        <a href="/" class="btn btn-danger" role="button" data-bs-toggle="modal" data-bs-target="#confirm-delete">Delete</a>
        <div class="modal fade" id="confirm-delete" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="confirm-delete">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body">
                <p>Do you want to delete <strong>{{ rule }}</strong> rule?</p>
              </div>
              <div class="modal-footer">
                <a href="/rule/{{ rule.id }}/delete" class="btn btn-primary" role="button">Apply</a>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
